# Core Libraries
pandas
numpy
scipy

# Visualisation
matplotlib
seaborn

# Machine learning
scikit-learn

# NLP
nltk
transformers
evaluate

# Deep learning
torch

# Utilities
tqdm

#Notebook 
jupyter 
ipykernel